################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DespairBox/bin/Debug
/.vs/DespairBox
/DespairBox/obj/Debug
